SERVER_PORT=8080
PUBLIC_DOCS_ENABLED=true
DEPLOYMENT_PROFILE=local
ORGANIZATION_NAME=Система записи на прием
ORGANIZATION_PUBLIC_ADDRESS=Адрес медицинской организации
ORGANIZATION_INTERNAL_ADDRESS=Внутренний контур медицинской организации
DEFAULT_APPOINTMENT_DURATION_MINUTES=30
DEFAULT_WORK_START=09:00
DEFAULT_WORK_END=17:00
DEFAULT_BREAK_START=13:00
DEFAULT_BREAK_END=14:00
IDENTITY_MODE=LOCAL
APP_PUBLIC_URL=http://localhost:8080
APP_INTERNAL_URL=http://localhost:8080
APP_AUTH_URL=http://localhost:8081

OAUTH2_ISSUER_URI=http://localhost:8081/realms/medical-appointment
OAUTH2_PUBLIC_CLIENT_ID=medical-appointment-public
OAUTH2_INTERNAL_CLIENT_ID=medical-appointment-internal

DB_URL=jdbc:postgresql://localhost:5433/medical_appointment
DB_USERNAME=medical_appointment
DB_PASSWORD=medical_appointment

POSTGRES_DB=medical_appointment
POSTGRES_USER=medical_appointment
POSTGRES_PASSWORD=medical_appointment
POSTGRES_PORT=5433

KEYCLOAK_IMAGE=quay.io/keycloak/keycloak:26.6.3
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=8081
