APP_IMAGE=medical-appointment-system:local
PUBLIC_HTTP_PORT=8080
PUBLIC_DOCS_ENABLED=true
IDENTITY_MODE=LOCAL
APP_PUBLIC_URL=http://public.localhost:8080
APP_INTERNAL_URL=http://internal.localhost:8080

OAUTH2_ISSUER_URI=http://auth.localhost:8080/realms/medical-appointment
OAUTH2_PUBLIC_CLIENT_ID=medical-appointment-public
OAUTH2_INTERNAL_CLIENT_ID=medical-appointment-internal

DB_URL=jdbc:postgresql://postgres:5432/medical_appointment
DB_USERNAME=medical_appointment
DB_PASSWORD=medical_appointment

POSTGRES_DB=medical_appointment
POSTGRES_USER=medical_appointment
POSTGRES_PASSWORD=medical_appointment
POSTGRES_PORT=5433

KEYCLOAK_IMAGE=quay.io/keycloak/keycloak:26.6.3
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=8081
KEYCLOAK_HOSTNAME=http://auth.localhost:8080
