APP_IMAGE=medical-appointment-system:latest
PUBLIC_DOCS_ENABLED=false
DEPLOYMENT_PROFILE=prod
ORGANIZATION_NAME=Городская поликлиника
ORGANIZATION_PUBLIC_ADDRESS=г. Москва, ул. Примерная, 1
ORGANIZATION_INTERNAL_ADDRESS=Внутренняя сеть медицинской организации
DEFAULT_APPOINTMENT_DURATION_MINUTES=30
DEFAULT_WORK_START=09:00
DEFAULT_WORK_END=17:00
DEFAULT_BREAK_START=13:00
DEFAULT_BREAK_END=14:00
IDENTITY_MODE=AD
APP_PUBLIC_URL=https://appointment.example.org
APP_INTERNAL_URL=https://appointment.internal.example.org
APP_AUTH_URL=https://auth.example.org

OAUTH2_ISSUER_URI=https://auth.example.org/realms/medical-appointment
OAUTH2_PUBLIC_CLIENT_ID=medical-appointment-public
OAUTH2_INTERNAL_CLIENT_ID=medical-appointment-internal

DB_URL=jdbc:postgresql://postgres:5432/medical_appointment
DB_USERNAME=medical_appointment
DB_PASSWORD=change-me

POSTGRES_DB=medical_appointment
POSTGRES_USER=medical_appointment
POSTGRES_PASSWORD=change-me

KEYCLOAK_IMAGE=quay.io/keycloak/keycloak:26.6.3
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=change-me
