APP_IMAGE=medical-appointment-system:latest
PUBLIC_DOCS_ENABLED=false
IDENTITY_MODE=AD
APP_PUBLIC_URL=https://appointment.example.org
APP_INTERNAL_URL=https://appointment.internal.example.org

OAUTH2_ISSUER_URI=https://auth.example.org/realms/medical-appointment
OAUTH2_PUBLIC_CLIENT_ID=medical-appointment-public
OAUTH2_INTERNAL_CLIENT_ID=medical-appointment-internal

DB_URL=jdbc:postgresql://postgres:5432/medical_appointment
DB_USERNAME=medical_appointment
DB_PASSWORD=change-me

POSTGRES_DB=medical_appointment
POSTGRES_USER=medical_appointment
POSTGRES_PASSWORD=change-me

KEYCLOAK_IMAGE=quay.io/keycloak/keycloak:26.6.3
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=change-me
