{
	auto_https {$CADDY_AUTO_HTTPS:off}
}

{$CADDY_SITE_ADDRESS::80} {
	@auth host {$AUTH_HOST:auth.localhost}
	handle @auth {
		reverse_proxy keycloak:8080
	}

	@internal host {$INTERNAL_HOST:internal.localhost}
	handle @internal {
		reverse_proxy app:8080
	}

	@public host {$PUBLIC_HOST:public.localhost}
	handle @public {
		@closed path /internal /internal/* /admin /admin/*
		respond @closed 404
		reverse_proxy app:8080
	}

	respond 404
}
